
:root{
    --main: #B5D8B6;
    --btn-hover: #ecffee;
    --bg: #d7f5d8;
}

.text{
    margin: auto;
    width: 70vw;
    margin-top: 5vh;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--main);
}

.text h2{
    font-size: 30px;
}

ul{
    padding: 30px;
    font-size: 25px;
}

ul li{
    padding-bottom: 15px;
}